body h1{
    font-weight: 400;
    font-size: 75px;
    font-family: "Open Sans", sans-serif;
    margin-left: 50px;
    margin-top: 50px;
    border-bottom: 2px solid #9d9d9d;
    margin: 50px 0px 25px 50px;
    padding: 10px;
    width: 550px;
}

body h3{
    font-weight: 400;
    font-size: 50px;
    font-family: "Open Sans", sans-serif;
    margin-left: 50px;
    margin-top: 50px;
    border-bottom: 2px solid #9d9d9d;
    margin: 50px 0px 25px 50px;
    padding: 10px;
    width: 300px;
}

body p{
    font-weight: 400;
    font-size: 25px;
    font-family: "Open Sans", sans-serif;
}

ol li{
    font-weight: 400;
    font-size: 25px;
    font-family: "Open Sans", sans-serif;
    margin: 0px 0px 20px 25px;
}

body .p{
    width: 50%; 
    padding-left: 50px; 
    text-wrap: wrap;
}

.box-1{
    border: 2px solid #9d9d9d;
    border-radius: 5px;

    margin: 0px 0px 25px 50px;
    padding: 10px;
    width: 550px;

    display: grid;
    justify-content: center;
}

.box-1 button{
    background-color: #9d9d9d;
    pointer-events: fill;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 30px;
    width: 50px;
    height: 50px;

}

body h2{
    font-weight: 600;
    font-size: 25px;
    font-family: "Open Sans", sans-serif;
    border-bottom: 2px solid #9d9d9d;

    padding: 0px 25px 5px 25px;
}

.box-2{
    border: 2px solid #9d9d9d;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0px 15px;
}

body a{
    color: #9d9d9d;
    text-decoration: none;
}

.message{
    font-weight: 500;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    max-width: 350px;
    overflow-wrap: break-word;
}

.forumuser{
    font-size: 15px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}