.box{
    display: flex;
    padding: 0px 0px;
    border-style: solid;
    border-width: 1px;
    border-color: #9d9d9d;
    border-radius: 15px;
}

.incard{
    width: 125px;
    height: 125px;
    font-size: 50px;
    margin: 15px 75px 0px 15px;
    text-decoration: none;
}

#welcomemessage{
    text-align: center;
    font-size: 50px;
    font-family: "Open Sans", sans-serif;
    margin-right: 15px;
}

#subjecttitle{
    font-weight: 600;
    font-size: 35px;
    font-family: "Open Sans", sans-serif;
}

.subjectcontent{
    font-weight: 400;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    color:#094478;
    padding: 0px 0px 15px 0px;
}

.inaccessible{
    color: #315a6f;
    pointer-events: none;
}

#iconchat{
    width: 150px;
    height: 150px;
    font-size: 150px;
    color: #315a6f;
}

#chat{
    z-index: auto;
    position: fixed;
    top: 100px;
    left: 25%;
    background-color: #3B7693;
    width: 50%;
    padding: 0px 15px;
}

#exit{
    justify-self: right;
    padding: 25px 10px 0px 0px; 
    text-decoration: none; 
    color: black; 
    font-family: "Open Sans", sans-serif;
    font-size: 35px;
    font-weight: 400;
}

.chatname{
    font-weight: 600;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    padding: 15px 6%;
    cursor: pointer;
    background-color: #315a6f;
    border-radius: 15px;
}

#chattop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #9d9d9d;
    padding-bottom: -5px;
    margin-bottom: 15px;
    
}

.message{
    font-weight: 600;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    padding: 15px 25px;
    border: solid 2px #9d9d9d; 
    border-radius: 15px;
    max-width: 400px;
    overflow-wrap: break-word;
}

.left{
    width: fit-content;
    font-family: "Open Sans", sans-serif;
    pointer-events: none;
}

.right{
    justify-self: end;
    width: fit-content;
    font-family: "Open Sans", sans-serif;
    pointer-events: none;
}