body{
    background-color: #3d2376;
}

#menu {
    position: relative;
    border-radius: 15px;
    border: 5px solid #2B2D31;
    background-color: #313338;
    z-index: 1;
    justify-content: center;
    justify-self: center;
    margin-top: 100px;
    text-align: center;
    height: 75vh;
    width: 75%;
    display: flex;
    flex-direction: column;
}

#menu form{
    flex: 1;
}


.title{
    font-family: 'Lucida console', monospace;
    font-weight: 700;
    font-size: 35px;
}

.input{
    font-size: 20px;
    margin: 25px 15px 0px 15px;
    border: 2px solid #777777;
    border-radius: 5px;
    padding: 5px;
    outline: none;
}

button{
    background-color: #2B2D31;
    pointer-events: fill;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 25px;
}

button:active{
    transform: scale(0.90);
    background-color: #2b2d31d0;
}

button:disabled{
    transform: scale(1);
    background-color: #2B2D31;
    color: rgba(0, 0, 0, 0.419);
    cursor: inherit;
}

#submit{
    font-family: 'Lucida console', monospace;
    font-weight: 700;
    font-size: 35px;

    margin-bottom: 50px;
    padding: 15px;
    justify-content: center;

    display: none;
}

#succes {
    position: absolute;
    top: 25vh;
    left: 25%;
    border-radius: 15px;
    border: 5px solid #2B2D31;
    background-color: #313338;
    z-index: 2;
    justify-content: center;
    justify-self: center;
    text-align: center;
    height: 35vh;
    width: 50%;
    display: none;
    flex-direction: column;
}

h1{
    font-family: 'Lucida console', monospace;
    font-weight: 700;
    font-size: 50px;
}

h2{
    font-family: 'Lucida console', monospace;
    font-weight: 500;
    font-size: 25px;
    text-wrap: wrap;
}

